@page "/life-cycle-example"

@using BlazorApp1.Src.Infrastructure.Study
@using System.Threading.Tasks

<h3>［ライフサイクル・メソッド］の例</h3>
<h4>`OnAfterRender*()` が呼び出されないケース</h4>

<p>メッセージ1： @Message1</p>
<p>メッセージ2： @Message2</p>
<p>メッセージ3： @Message3</p>
<p>メッセージ4： @Message4</p>
<p>メッセージ5： @Message5</p>
<p>メッセージ6： @Message6</p>

@code {


	// ========================================
	// ライフサイクル・メソッド
	// ========================================


	/// <summary>
	/// 画面を開いたときに最初に呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	protected override void OnInitialized()
	{
		Console.WriteLine($"[{DateTime.Now}][OnInitialized() > Begin][CSR:{this.RendererInfo.IsInteractive}]　🌟(I始)　開始。");
		base.OnInitialized();

		Console.WriteLine($"[{DateTime.Now}][OnInitialized()][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで、邪魔が入らない（＾～＾）　ここで時間がかかると、他の処理も全部止まるぜ（＾～＾） 画面は前の画面のまま更新されないぜ（＾～＾）");
		StudyHelper.BadSleep(seconds: 10);	// ここで何か時間のかかる処理をしてみる。

		Console.WriteLine($"[{DateTime.Now}][OnInitialized() > End][CSR:{this.RendererInfo.IsInteractive}]　■(I終)　終了。");
		this.Message1 = $"OnInitialized() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnInitialized()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]　🌟＜サ＞始。");
		await base.OnInitializedAsync();

		Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync()][CSR:{this.RendererInfo.IsInteractive}]　OnInitialized() で止まってても、 OnAfterRender(), OnAfterRenderAsync() は始まるぜ（＾～＾）");
		await StudyHelper.TimerAsync(   // ここで何か時間のかかる処理をしてみる。
			seconds: 3,
			onTicked: async () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync()][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync() > End][CSR:{this.RendererInfo.IsInteractive}]　■＜サ＞終。");
		this.Message2 = $"OnInitializedAsync() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnInitializedAsync()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	protected override void OnParametersSet()
	{
		Console.WriteLine($"[{DateTime.Now}][OnParametersSet() > Begin][CSR:{this.RendererInfo.IsInteractive}]　🌟＜い＞始。　`OnInitializedAsync()` が終わったはずだぜ（＾～＾）");
		base.OnParametersSet();

		Console.WriteLine($"[{DateTime.Now}][OnParametersSet()][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで邪魔が入らない（＾～＾）　ここで時間がかかると、他の処理も全部止まるぜ（＾～＾）");
		StudyHelper.BadSleep(seconds: 10);  // ここで何か時間のかかる処理をしてみる。

		Console.WriteLine($"[{DateTime.Now}][OnParametersSet() > End][CSR:{this.RendererInfo.IsInteractive}]　■＜い＞終。");
		this.Message3 = $"OnParametersSet() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnParametersSet()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	/// <returns></returns>
	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]　🌟＜ス＞始。");
		await base.OnParametersSetAsync();

		// XXX: ここで時間のかかる処理をすると、そのブロック解除後に余分に `OnAfterRender*()` が呼び出されるケースがあるぜ（＾～＾）
		Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync()][CSR:{this.RendererInfo.IsInteractive}]　ここで何か時間のかかる処理をしてみる。");
		await StudyHelper.TimerAsync(   // ここで何か時間のかかる処理をしてみる。
			seconds: 5,
			onTicked: async () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync()][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync() > End][CSR:{this.RendererInfo.IsInteractive}]　■＜ス＞終。");
		this.Message4 = $"OnParametersSetAsync() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	///		<pre>
	///	- `App.razor` の `<Routes @rendermode="InteractiveServer" />` がないと、このメソッドは呼び出されないぜ（＾～＾）
	/// - `OnInitialized()` 、または `OnParametersSetAsync()` が動いているときはそれが、終わってから呼び出されるメソッドだぜ（＾～＾）
	/// - `OnParametersSetAsync()` でブロック時間が長いとき、そのブロッが解除されたタイミングで、余分にこの `OnAfterRender*(firstRender = false)` が呼び出されるケースがあるぜ（＾～＾）
	///		</pre>
	/// </summary>
	/// <param name="firstRender"></param>
	protected override void OnAfterRender(bool firstRender)
	{
		this.NumberOfAfterRender++;
		var count = this.NumberOfAfterRender;

		if (firstRender)
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]　🌟🌟＜あ＞始（{count}回目）　開始。");
		}
		else
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]　🌟🌟＜う＞始（{count}回目）　開始。");
		}

		base.OnAfterRender(firstRender);

		Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender = {firstRender})][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで邪魔が入らない（＾～＾）　ここで時間がかかると、他の処理も全部止まるぜ（＾～＾）");
		StudyHelper.BadSleep(seconds: 10);  // ここで何か時間のかかる処理をしてみる。

		if (firstRender)
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]　■＜あ＞終（{count}回目）　終了。");
		}
		else
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]　■＜う＞終（{count}回目）　終了。");
		}

		this.Message5 = $"OnAfterRender(firstRender) が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	///		<pre>
	///	- `App.razor` の `<Routes @rendermode="InteractiveServer" />` がないと、このメソッドは呼び出されないぜ（＾～＾）
	/// - `OnAfterRender()` が終わったあとに呼び出されるメソッドだぜ（＾～＾）
	///		</pre>
	/// </summary>
	/// <param name="firstRender"></param>
	/// <returns></returns>
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		this.NumberOfAfterRenderAsync++;
		var count = this.NumberOfAfterRenderAsync;

		if (firstRender)
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]　🌟＜シ＞始（{count}回目）　開始。");
		}
		else
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]　🌟＜セ＞始（{count}回目）　開始。");
		}

		await base.OnAfterRenderAsync(firstRender);

		Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender = {firstRender})][CSR:{this.RendererInfo.IsInteractive}]　ここで何か時間のかかる処理をしてみる。");
		await StudyHelper.TimerAsync(   // ここで何か時間のかかる処理をしてみる。
			seconds: 7,
			onTicked: async () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender = {firstRender})][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		if (firstRender)
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]　初回レンダリングだよ〜");
			// ここにJSInteropとかDOM触る処理を書く
		}

		if (firstRender)
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]　■＜シ＞終（{count}回目）　終了。");
		}
		else
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]　■＜セ＞終（{count}回目）　終了。");
		}
		this.Message6 = $"OnAfterRenderAsync(firstRender) が呼び出されました。({DateTime.Now})";
	}
}
