@page "/life-cycle-example"
@using BlazorApp1.Src.Infrastructure.Study

<h3>［ライフサイクル・メソッド］の例</h3>
<h4>`OnAfterRender*()` が呼び出されないケース</h4>

<p>メッセージ1： @Message1</p>
<p>メッセージ2： @Message2</p>
<p>メッセージ3： @Message3</p>
<p>メッセージ4： @Message4</p>
<p>メッセージ5： @Message5</p>
<p>メッセージ6： @Message6</p>

@code {


	// ========================================
	// ライフサイクル・メソッド
	// ========================================


	/// <summary>
	/// 画面を開いたときに最初に呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	protected override void OnInitialized()
	{
		Console.WriteLine($"[{DateTime.Now}][OnInitialized() > Begin][CSR:{this.RendererInfo.IsInteractive}]");
		base.OnInitialized();

		Console.WriteLine($"[{DateTime.Now}][OnInitialized()][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで、ここで時間がかかると、他の処理も全部止まるぜ（＾～＾） 画面は前の画面のまま更新されないぜ（＾～＾）");
		StudyHelper.BadTimer(   // ここで何か時間のかかる処理をしてみる。
			seconds: 10,
			onTime: () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnInitialized()][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		Console.WriteLine($"[{DateTime.Now}][OnInitialized() > End][CSR:{this.RendererInfo.IsInteractive}]");
		this.Message1 = $"OnInitialized() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnInitialized()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]");
		await base.OnInitializedAsync();

		Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync()][CSR:{this.RendererInfo.IsInteractive}]　OnInitialized() で止まってても、 OnAfterRender(), OnAfterRenderAsync() は始まるぜ（＾～＾）");
		StudyHelper.BadTimer(   // ここで何か時間のかかる処理をしてみる。
			seconds: 3,
			onTime: () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync()][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		Console.WriteLine($"[{DateTime.Now}][OnInitializedAsync() > End][CSR:{this.RendererInfo.IsInteractive}]");
		this.Message2 = $"OnInitializedAsync() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnInitializedAsync()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	protected override void OnParametersSet()
	{
		Console.WriteLine($"[{DateTime.Now}][OnParametersSet() > Begin][CSR:{this.RendererInfo.IsInteractive}]　`OnInitializedAsync()` が終わったはずだぜ（＾～＾）");
		base.OnParametersSet();

		Console.WriteLine($"[{DateTime.Now}][OnParametersSet()][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで、ここで時間がかかると、他の処理も全部止まるぜ（＾～＾）");
		StudyHelper.BadTimer(   // ここで何か時間のかかる処理をしてみる。
			seconds: 10,
			onTime: () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnParametersSet()][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		Console.WriteLine($"[{DateTime.Now}][OnParametersSet() > End][CSR:{this.RendererInfo.IsInteractive}]");
		this.Message3 = $"OnParametersSet() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnParametersSet()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	/// <returns></returns>
	protected override async Task OnParametersSetAsync()
	{
		Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]");
		await base.OnParametersSetAsync();

		Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync()][CSR:{this.RendererInfo.IsInteractive}]　ここで何か時間のかかる処理をしてみる。");
		StudyHelper.BadTimer(   // ここで何か時間のかかる処理をしてみる。
			seconds: 5,
			onTime: () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync()][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		Console.WriteLine($"[{DateTime.Now}][OnParametersSetAsync() > End][CSR:{this.RendererInfo.IsInteractive}]");
		this.Message4 = $"OnParametersSetAsync() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	///		<pre>
	///	- `App.razor` の `<Routes @rendermode="InteractiveServer" />` がないと、このメソッドは呼び出されないぜ（＾～＾）
	/// - `OnInitialized()` が終わったあとに呼び出されるメソッドだぜ（＾～＾）
	///		</pre>
	/// </summary>
	/// <param name="firstRender"></param>
	protected override void OnAfterRender(bool firstRender)
	{
		Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender) > Begin][CSR:{this.RendererInfo.IsInteractive}]");
		base.OnAfterRender(firstRender);

		Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender)][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで、ここで時間がかかると、他の処理も全部止まるぜ（＾～＾）");
		StudyHelper.BadTimer(   // ここで何か時間のかかる処理をしてみる。
			seconds: 10,
			onTime: () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender)][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		Console.WriteLine($"[{DateTime.Now}][OnAfterRender(firstRender) > End][CSR:{this.RendererInfo.IsInteractive}]");
		this.Message5 = $"OnAfterRender(firstRender) が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	///		<pre>
	///	- `App.razor` の `<Routes @rendermode="InteractiveServer" />` がないと、このメソッドは呼び出されないぜ（＾～＾）
	/// - `OnAfterRender()` が終わったあとに呼び出されるメソッドだぜ（＾～＾）
	///		</pre>
	/// </summary>
	/// <param name="firstRender"></param>
	/// <returns></returns>
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender) > Begin][CSR:{this.RendererInfo.IsInteractive}]");
		await base.OnAfterRenderAsync(firstRender);

		Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender)][CSR:{this.RendererInfo.IsInteractive}]　ここで何か時間のかかる処理をしてみる。");
		StudyHelper.BadTimer(   // ここで何か時間のかかる処理をしてみる。
			seconds: 7,
			onTime: () =>
			{
				Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender)][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		if (firstRender)
		{
			Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender) > Begin][CSR:{this.RendererInfo.IsInteractive}]　初回レンダリングだよ〜");
			// ここにJSInteropとかDOM触る処理を書く
		}

		Console.WriteLine($"[{DateTime.Now}][OnAfterRenderAsync(firstRender) > End][CSR:{this.RendererInfo.IsInteractive}]");
		this.Message6 = $"OnAfterRenderAsync(firstRender) が呼び出されました。({DateTime.Now})";
	}
}
