@page "/life-cycle-example"

@using BlazorApp1.Src.Infrastructure.Study
@using System.Threading.Tasks
@using HelloConsoleAppCSharp.Src.Infrastructure.Logging

@inject IMuzLoggingService LoggingSvc

<h3>［ライフサイクル・メソッド］の例</h3>
<h4>`OnAfterRender*()` が呼び出されないケース</h4>

<p>メッセージ1： @Message1</p>
<p>メッセージ2： @Message2</p>
<p>メッセージ3： @Message3</p>
<p>メッセージ4： @Message4</p>
<p>メッセージ5： @Message5</p>
<p>メッセージ6： @Message6</p>

@code {


	// ========================================
	// ライフサイクル・メソッド
	// ========================================


	public override async Task SetParametersAsync(ParameterView parameterView)
	{
		if (!this.RendererInfo.IsInteractive)
		{
			Console.WriteLine($@"[{DateTime.Now}][ＳetParametersAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
✖【お】始
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＳetParametersAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【お】始
----------------------------------------
");
		}
		await base.SetParametersAsync(parameterView);

		if (!this.RendererInfo.IsInteractive)
		{
			Console.WriteLine($@"[{DateTime.Now}][ＳetParametersAsync() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
✖【お】終
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＳetParametersAsync() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【お】終
----------------------------------------
");
		}
	}


	/// <summary>
	/// 画面を開いたときに最初に呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	protected override void OnInitialized()
	{
		if (!this.RendererInfo.IsInteractive)
		{
			// サーバーサイドで実行されるので、クライアントのコンソールには出ないぜ（＾～＾）
			this.LoggingSvc.Others.LogInformation($@"[{DateTime.Now}][ＯnInitialized() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【あ】始
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＯnInitialized() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【か】始
----------------------------------------
");
		}
		base.OnInitialized();

		Console.WriteLine($@"[{DateTime.Now}][ＯnInitialized()][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで、邪魔が入らない（＾～＾）　ここで時間がかかると、他の処理も全部止まるぜ（＾～＾） 画面は前の画面のまま更新されないぜ（＾～＾）");
		StudyHelper.BadSleep(seconds: 10);	// ここで何か時間のかかる処理をしてみる。

		if (!this.RendererInfo.IsInteractive)
		{
			// サーバーサイドで実行されるので、クライアントのコンソールには出ないぜ（＾～＾）
			this.LoggingSvc.Others.LogInformation($@"[{DateTime.Now}][ＯnInitialized() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
【あ】終
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＯnInitialized() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
【か】終
----------------------------------------
");
		}
		this.Message1 = $"ＯnInitialized() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnInitialized()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		if (!this.RendererInfo.IsInteractive)
		{
			// サーバーサイドで実行されるので、クライアントのコンソールには出ないぜ（＾～＾）
			this.LoggingSvc.Others.LogInformation($@"[{DateTime.Now}][ＯnInitializedAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【い】始
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＯnInitializedAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【き】始
----------------------------------------
");
		}
		await base.OnInitializedAsync();

		// Console.WriteLine($"[{DateTime.Now}][ＯnInitializedAsync()][CSR:{this.RendererInfo.IsInteractive}]　OnInitialized() で止まってても、 OnAfterRender(), OnAfterRenderAsync() は始まるぜ（＾～＾）");
		// await StudyHelper.TimerAsync(   // ここで何か時間のかかる処理をしてみる。
		// 	seconds: 3,
		// 	onTicked: async () =>
		// 	{
		// 		Console.WriteLine($"[{DateTime.Now}][ＯnInitializedAsync()][CSR:{this.RendererInfo.IsInteractive}]　Tick");
		// 	});

		if (!this.RendererInfo.IsInteractive)
		{
			// サーバーサイドで実行されるので、クライアントのコンソールには出ないぜ（＾～＾）
			this.LoggingSvc.Others.LogInformation($@"[{DateTime.Now}][ＯnInitializedAsync() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【い】終
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＯnInitializedAsync() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【き】終
----------------------------------------
");
		}
		this.Message2 = $"ＯnInitializedAsync() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnInitializedAsync()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	protected override void OnParametersSet()
	{
		if (!this.RendererInfo.IsInteractive)
		{
			// サーバーサイドで実行されるので、クライアントのコンソールには出ないぜ（＾～＾）
			this.LoggingSvc.Others.LogInformation($@"[{DateTime.Now}][ＯnParametersSet() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【う】始。　`OnInitializedAsync()` が終わったはずだぜ（＾～＾）
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＯnParametersSet() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【く】始。　`OnInitializedAsync()` が終わったはずだぜ（＾～＾）
----------------------------------------
");
		}
		base.OnParametersSet();

		// Console.WriteLine($@"[{DateTime.Now}][ＯnParametersSet()][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで邪魔が入らない（＾～＾）　ここで時間がかかると、他の処理も全部止まるぜ（＾～＾）");
		// StudyHelper.BadSleep(seconds: 10);  // ここで何か時間のかかる処理をしてみる。

		if (!this.RendererInfo.IsInteractive)
		{
			// サーバーサイドで実行されるので、クライアントのコンソールには出ないぜ（＾～＾）
			this.LoggingSvc.Others.LogInformation($@"[{DateTime.Now}][ＯnParametersSet() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【う】終
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＯnParametersSet() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【く】終
----------------------------------------
");
		}
		this.Message3 = $"ＯnParametersSet() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	/// `OnParametersSet()` が終わってから呼び出されるメソッドだぜ（＾～＾）
	/// </summary>
	/// <returns></returns>
	protected override async Task OnParametersSetAsync()
	{
		if (!this.RendererInfo.IsInteractive)
		{
			// サーバーサイドで実行されるので、クライアントのコンソールには出ないぜ（＾～＾）
			this.LoggingSvc.Others.LogInformation($@"[{DateTime.Now}][ＯnParametersSetAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【え】始
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＯnParametersSetAsync() > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【け】始
----------------------------------------
");
		}

		await base.OnParametersSetAsync();

		// XXX: ここで時間のかかる処理をすると、そのブロック解除後に余分に `OnAfterRender*()` が呼び出されるケースがあるぜ（＾～＾）
		Console.WriteLine($@"[{DateTime.Now}][ＯnParametersSetAsync()][CSR:{this.RendererInfo.IsInteractive}]　ここで何か時間のかかる処理をしてみる。");
		await StudyHelper.TimerAsync(   // ここで何か時間のかかる処理をしてみる。
			seconds: 5,
			onTicked: async () =>
			{
				Console.WriteLine($"[{DateTime.Now}][ＯnParametersSetAsync()][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		if (!this.RendererInfo.IsInteractive)
		{
			// サーバーサイドで実行されるので、クライアントのコンソールには出ないぜ（＾～＾）
			this.LoggingSvc.Others.LogInformation($@"[{DateTime.Now}][ＯnParametersSetAsync() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【え】終
----------------------------------------
");
		}
		else
		{
			Console.WriteLine($@"[{DateTime.Now}][ＯnParametersSetAsync() > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【け】終
----------------------------------------
");
		}
		this.Message4 = $"ＯnParametersSetAsync() が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	///		<pre>
	///	- `App.razor` の `<Routes @rendermode="InteractiveServer" />` がないと、このメソッドは呼び出されないぜ（＾～＾）
	/// - `OnInitialized()` 、または `OnParametersSetAsync()` が動いているときはそれが、終わってから呼び出されるメソッドだぜ（＾～＾）
	/// - `OnParametersSetAsync()` でブロック時間が長いとき、そのブロッが解除されたタイミングで、余分にこの `OnAfterRender*(firstRender = false)` が呼び出されるケースがあるぜ（＾～＾）
	///		</pre>
	/// </summary>
	/// <param name="firstRender"></param>
	protected override void OnAfterRender(bool firstRender)
	{
		this.NumberOfAfterRender++;
		var count = this.NumberOfAfterRender;

		if (firstRender)
		{
			if(count == 1)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【こ】始
----------------------------------------
");
			}
			else
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]　✖【こ】始（{count}回目）　開始。");
			}
		}
		else
		{
			if (count == 2)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【し】始
----------------------------------------
");
			}
			else if (count == 3)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【せ】始
----------------------------------------
");
			}
			else
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
✖【しせ】始（{count}回目）
----------------------------------------
");
			}
		}

		base.OnAfterRender(firstRender);

		Console.WriteLine($"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender})][CSR:{this.RendererInfo.IsInteractive}]　このメソッドは同期なんで邪魔が入らない（＾～＾）　ここで時間がかかると、他の処理も全部止まるぜ（＾～＾）");
		StudyHelper.BadSleep(seconds: 10);  // ここで何か時間のかかる処理をしてみる。

		if (firstRender)
		{
			if (count == 1)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【こ】終
----------------------------------------
");
			}
			else
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]　✖【こ】終（{count}回目）　終了。");
			}
		}
		else
		{
			if (count == 2)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【し】終
----------------------------------------
");
			}
			else if (count == 3)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【せ】終
----------------------------------------
");
			}
			else
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRender(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
✖【しせ】終（{count}回目）　終了。
----------------------------------------
");
			}
		}

		this.Message5 = $"ＯnAfterRender(firstRender) が呼び出されました。({DateTime.Now})";
	}


	/// <summary>
	///		<pre>
	///	- `App.razor` の `<Routes @rendermode="InteractiveServer" />` がないと、このメソッドは呼び出されないぜ（＾～＾）
	/// - `OnAfterRender()` が終わったあとに呼び出されるメソッドだぜ（＾～＾）
	///		</pre>
	/// </summary>
	/// <param name="firstRender"></param>
	/// <returns></returns>
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		this.NumberOfAfterRenderAsync++;
		var count = this.NumberOfAfterRenderAsync;

		if (firstRender)
		{
			if (count == 1)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【さ】始
----------------------------------------
");
			}
			else
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]　✖【さ】始（{count}回目）　開始。");
			}
		}
		else
		{
			if (count == 2)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【す】始
----------------------------------------
");
			}
			else if (count == 3)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
🌟【そ】始
----------------------------------------
");
			}
			else
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
✖【すそ】始（{count}回目）
----------------------------------------
");
			}
		}

		await base.OnAfterRenderAsync(firstRender);

		Console.WriteLine($"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender})][CSR:{this.RendererInfo.IsInteractive}]　ここで何か時間のかかる処理をしてみる。");
		await StudyHelper.TimerAsync(   // ここで何か時間のかかる処理をしてみる。
			seconds: 7,
			onTicked: async () =>
			{
				Console.WriteLine($"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender})][CSR:{this.RendererInfo.IsInteractive}]　Tick");
			});

		if (firstRender)
		{
			Console.WriteLine($"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > Begin][CSR:{this.RendererInfo.IsInteractive}]　初回レンダリングだよ〜");
			// ここにJSInteropとかDOM触る処理を書く
		}

		if (firstRender)
		{
			if (count == 1)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【さ】終
----------------------------------------
");
			}
			else
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]　✖【さ】終（{count}回目）　終了。");
			}
		}
		else
		{
			if (count == 2)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【す】終
----------------------------------------
");
			}
			else if (count == 3)
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
■【そ】終
----------------------------------------
");
			}
			else
			{
				Console.WriteLine($@"[{DateTime.Now}][ＯnAfterRenderAsync(firstRender = {firstRender}) > End][CSR:{this.RendererInfo.IsInteractive}]
----------------------------------------
✖【すそ】終（{count}回目）
----------------------------------------
");
			}
		}
		this.Message6 = $"ＯnAfterRenderAsync(firstRender) が呼び出されました。({DateTime.Now})";
	}
}
