@page "/"
@using BlazorApp1.Components.Shared
@rendermode InteractiveServer	// ボタンの @onclick に必要
@inject NavigationManager NavigationMgr

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<h2>Link</h2>

<ul>
	<li><a href="https://localhost:7249/query-parameters-example/">クエリーパラメーターの例</a></li>
	<li><a href="https://localhost:7249/input-text-example/">InputTextの例</a></li>
</ul>

<h2>練習中</h2>

クエリーパラメーター：<br/>
<table>
	<th>
		<td>名前</td>
		<td>値</td>
	</th>
	<tr>
		<td>アップル</td>
		<td>@this.UrlApple</td>
	</tr>
	<tr>
		<td>バナナ</td>
		<td>@this.UrlBanana</td>
	</tr>
	<tr>
		<td>チェリー</td>
		<td>@this.UrlCherry</td>
	</tr>
</table>

ＧＵＩサンプル：
<table>
	<th>
		<td>名前</td>
		<td>値</td>
	</th>
	<tr>
		<td>アップル</td>
		<td><InputText @bind-Value="this.GuiApple" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
	<tr>
		<td>バナナ</td>
		<td><InputText @bind-Value="this.GuiBanana" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
	<tr>
		<td>チェリー</td>
		<td><InputText @bind-Value="this.GuiCherry" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
</table>

<ul>
	<li><a href="https://localhost:7249/">https://localhost:7249/</a></li>
	<li><a href="https://localhost:7249/?apple=&banana=true&cherry=false">https://localhost:7249/?apple=&banana=true&cherry=false</a></li>
	<li><a href="https://localhost:7249/?apple=false&banana=true&cherry=false">https://localhost:7249/?apple=false&banana=true&cherry=false</a></li>
</ul>

<button @onclick="this.NavigateToSamePage">自分のページへ飛ぶ</button><br/>

<p>初期化回数： @this.InitializationCount</p>
<p>ページ遷移回数： @this.LeaveCount</p>
<p>レンダー回数： @this.RenderingCount</p>
<p>メッセージ： @this.Message</p>

<ExBananaComponent Title="GUI一時値"
				   Apple="@this.GuiApple"
				   Banana="@this.GuiBanana"
				   Cherry="@this.GuiCherry" />

<button @onclick="this.SearchDammy">検索（ダミー）</button>
<br />

<ExBananaComponent Title="GUI確定値"
				   Apple="@this.DisplayedApple"
				   Banana="@this.DisplayedBanana"
				   Cherry="@this.DisplayedCherry" />

@code
{


	// ========================================
	// パラメーター
	// ========================================
	//
	//		- クエリーパラメーター（URLの引数）は string? 型で受け取ってください。
	//		- 値の初期化は `OnParametersSet()` または `OnParametersSetAsync()` 関数で行ってください。


	// アップル


	/// <summary>
	///		<pre>
	///	アップル
	///	
	///		- ［期待］bool 型
	///		- ［ヌル／空文字列／パース失敗］時： "True"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Apple")]
	public string? UrlApple { get; set; }
	private string? _lastUrlApple;
	private string GuiApple { get; set; } = string.Empty;
	private string DisplayedApple { get; set; } = string.Empty;


	// バナナ


	/// <summary>
	///		<pre>
	///	バナナ
	///
	///		- ［期待］bool 型
	///		- ［ヌル／空文字列／パース失敗］時： "False"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Banana")]
	public string? UrlBanana { get; set; }
	private string? _lastUrlBanana;
	private string GuiBanana { get; set; } = string.Empty;
	private string DisplayedBanana { get; set; } = string.Empty;


	// チェリー


	/// <summary>
	/// チェリー
	/// 
	///		- ［期待］bool 型、ヌル許容
	///		- ［ヌル／空文字列／パース失敗］時： null
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Cherry")]
	public string? UrlCherry { get; set; }
	private string? _lastUrlCherry;
	private string? GuiCherry { get; set; }
	private string? DisplayedCherry { get; set; }


	// ========================================
	// プロパティ
	// ========================================


	/// <summary>
	/// 何かメッセージ
	/// </summary>
	private string Message { get; set; } = string.Empty;

	/// <summary>
	///		<pre>
	/// 初期化回数
	/// 
	///		- 0 から 1 になるだけのはず。2 になるはずがない。
	///		</pre>
	/// </summary>
	private int InitializationCount = 0;

	/// <summary>
	///		<pre>
	///	ページ遷移回数
	///	
	///		- 同じページに再アクセスしたとき、値が残っている。（ `OnInitializeAsync()` メソッドを除く）
	///		</pre>
	/// </summary>
	private int LeaveCount = 0;

	/// <summary>
	///		<pre>
	///	レンダー回数
	///		</pre>
	/// </summary>
	private int RenderingCount = 0;


	// ========================================
	// ライフサイクルメソッド
	// ========================================


	/// <summary>
	///		<pre>
	///	対応する URL にアクセスされ、このページのインスタンスが生成されたときに呼び出されます。
	///	
	///		- 同じページに再アクセスしたとき、このメソッドは呼び出されるが、そのとき、このページのインスタンスのプロパティは初期値に戻っている。しかし、レンダーすると、前の値が残っている。仕組みがさっぱり分からない。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnInitialized]　🔥　ページ・インスタンス生成");

		var oldInitializationCount = this.InitializationCount;
		this.InitializationCount++;
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnInitialized]　ページ初期化回数： （{oldInitializationCount}→{this.InitializationCount}）　ちなみにページ遷移回数： {this.LeaveCount}");

		// XXX: カウンターをリセットする悪戯をする。ここでリセットしても、前の値が残っていれば、それで上書きされる？
		this.LeaveCount = 0;
		this.RenderingCount = 0;
	}


	/// <summary>
	///		<pre>
	/// パラメーターセット時
	/// 
	///		- レンダー実行時に呼び出されます。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　🔥　パラメーターズセット");

		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　前回の値［URL>アップル］：{this._lastUrlApple}");
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　前回の値［URL>バナナ］：{this._lastUrlBanana}");
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　前回の値［URL>チェリー］：{this._lastUrlCherry}");


		// アップル


		if (string.IsNullOrWhiteSpace(this.UrlApple) || !bool.TryParse(this.UrlApple, out var urlApple))
		{
			this.UrlApple = true.ToString();
		}
		else
		{
			this.UrlApple = urlApple.ToString();
		}

		if (this._lastUrlApple != this.UrlApple)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　［URL>アップル］が変更されました。　（{this._lastUrlApple}→{this.UrlApple}）");
		}
		this._lastUrlApple = this.UrlApple;
		this.GuiApple = this.UrlApple;


		// バナナ


		if (string.IsNullOrWhiteSpace(this.UrlBanana) || !bool.TryParse(this.UrlBanana, out var urlBanana))
		{
			this.UrlBanana = false.ToString();
		}
		else
		{
			this.UrlBanana = urlBanana.ToString();
		}

		if (this._lastUrlBanana != this.UrlBanana)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　［URL>バナナ］が変更されました。　（{this._lastUrlBanana}→{this.UrlBanana}）");
		}
		this._lastUrlBanana = this.UrlBanana;
		this.GuiBanana = this.UrlBanana;


		// チェリー


		if (string.IsNullOrWhiteSpace(this.UrlCherry) || !bool.TryParse(this.UrlCherry, out var urlCherry))
		{
			this.UrlCherry = null;
		}
		else
		{
			this.UrlCherry = urlCherry.ToString();
		}

		if (this._lastUrlCherry != this.UrlCherry)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　［URL>チェリー］が変更されました。　（{this._lastUrlCherry}→{this.UrlCherry}）");
		}
		this._lastUrlCherry = this.UrlCherry;
		this.GuiCherry = this.UrlCherry;
	}


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		this.RenderingCount++;
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnAfterRenderAsync]　描画後　firstRender = {firstRender}, RenderingCount = {this.RenderingCount}");

		if (firstRender)
		{
			await this.InvokeAsync(this.StateHasChanged);	// `OnAfterRenderAsync()` 内で何か更新したら、もう１回再描画が必須。
		}
	}


	// ========================================
	// イベントハンドラ
	// ========================================


	/// <summary>
	/// ［検索］ダミーボタン
	/// </summary>
	private void SearchDammy()
	{
		System.Console.WriteLine("[{DateTime.Now}][Home.razor > ＳearchDammy]　🔥　検索ダミーボタン");

		this.DisplayedApple = this.GuiApple;
		this.DisplayedBanana = this.GuiBanana;
		this.DisplayedCherry = this.GuiCherry;
	}


	private void NavigateToSamePage()
	{
		System.Console.WriteLine("[{DateTime.Now}][Home.razor > ＮavigateToSamePage]　🔥　このページにまた飛ぶ");

		// 画面遷移しても、不思議なことにこのメッセージは残る。
		this.Message = "同じページへ飛んだ。";

		this.NavigationMgr.NavigateTo("https://localhost:7249/");
		this.LeaveCount++;
	}
}
