@page "/"
@using BlazorApp1.Components.Shared
@implements IAsyncDisposable	// これでDisposeを有効化
@rendermode InteractiveServer	// ボタンの @onclick に必要
@inject NavigationManager NavigationMgr

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new app.</p>

<h2>Link</h2>

<ul>
	<li><a href="https://localhost:7249/query-parameters-example/">クエリーパラメーターの例</a></li>
	<li><a href="https://localhost:7249/input-text-example/">InputTextの例</a></li>
	<li><a href="https://localhost:7249/property-changed-trigger-example/">プロパティ変更トリガーの例</a></li>
	<li><a href="https://localhost:7249/property-changed-trigger-objectification-example/">プロパティ変更トリガーのオブジェクト化の例</a></li>
</ul>

<h2>練習中</h2>

<ul>
	<li><a href="https://localhost:7249/">https://localhost:7249/</a></li>
</ul>

<button @onclick="this.NavigateToSamePage">自分のページへ飛ぶ</button><br/>

<p>初期化回数： @this.InitializationCount</p>
<p>ページ遷移回数： @this.LeaveCount</p>
<p>レンダー回数： @this.RenderingCount</p>
<p>重い処理の回数： @this.HeavylyProcessCount</p>
<p>メッセージ： @this.Message</p>


@code
{


	// ========================================
	// プロパティ
	// ========================================


	/// <summary>
	/// 何かメッセージ
	/// </summary>
	private string Message { get; set; } = string.Empty;

	/// <summary>
	///		<pre>
	/// 初期化回数
	/// 
	///		- 0 から 1 になるだけのはず。2 になるはずがない。
	///		</pre>
	/// </summary>
	private int InitializationCount = 0;

	/// <summary>
	///		<pre>
	///	ページ遷移回数
	///	
	///		- 同じページに再アクセスしたとき、値が残っている。（ `OnInitializeAsync()` メソッドを除く）
	///		</pre>
	/// </summary>
	private int LeaveCount = 0;

	/// <summary>
	///		<pre>
	///	レンダー回数
	///		</pre>
	/// </summary>
	private int RenderingCount = 0;

	/// <summary>
	///		<pre>
	///	重い処理の回数
	///		</pre>
	/// </summary>
	private int HeavylyProcessCount = 0;


	// ========================================
	// ライフサイクルメソッド
	// ========================================


	public async ValueTask DisposeAsync()
	{
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＤisposeAsync]　■■■■■　破棄: DisposeAsync 呼ばれたぜ！");
	}


	/// <summary>
	///		<pre>
	///	対応する URL にアクセスされ、このページのインスタンスが生成されたときに呼び出されます。
	///	
	///		- 同じページに再アクセスしたとき、このメソッドは呼び出されるが、そのとき、このページのインスタンスのプロパティは初期値に戻っている。しかし、レンダーすると、前の値が残っている。仕組みがさっぱり分からない。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnInitialized]　■■■■■　ページ・インスタンス生成");

		var oldInitializationCount = this.InitializationCount;
		this.InitializationCount++;
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnInitialized]　ページ初期化回数： （{oldInitializationCount}→{this.InitializationCount}）　ちなみにページ遷移回数： {this.LeaveCount}");

		// XXX: カウンターをリセットする悪戯をする。ここでリセットしても、前の値が残っていれば、それで上書きされる？
		this.LeaveCount = 0;
		this.RenderingCount = 0;
	}


	/// <summary>
	///		<pre>
	/// パラメーターセット時
	/// 
	///		- レンダー実行時に呼び出されます。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　◆１１◆　パラメーターズセット");

		// ここで何か処理をすると、ログに［サーバーサイド・レンダリング］と［クライアントサイド・レンダリング］の２つが被って出力されるので、ログが見にくくなります。
		// ［パラメーターがセットされた］というログだけ出力するのに向いています。
	}


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		this.RenderingCount++;
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnAfterRenderAsync]　◆２２◆　描画後　firstRender = {firstRender}, RenderingCount = {this.RenderingCount}");


		// おわりに


		if (firstRender)
		{
			// ここで何か更新
			await this.InvokeAsync(this.StateHasChanged);   // `OnAfterRenderAsync()` 内で何か更新したら、もう１回レンダーが必須。
			return;
		}
	}


	// ========================================
	// イベントハンドラ
	// ========================================


	private void NavigateToSamePage()
	{
		System.Console.WriteLine("[{DateTime.Now}][Home.razor > ＮavigateToSamePage]　🔥　このページにまた飛ぶ");

		// 画面遷移しても、不思議なことにこのメッセージは残る。
		this.Message = "同じページへ飛んだ。";

		this.NavigationMgr.NavigateTo("https://localhost:7249/");
		this.LeaveCount++;
	}
}
