@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<table>
	<th>
		<td>名前</td>
		<td>値</td>
	</th>
	<tr>
		<td>アップル</td>
		<td>@this.UrlApple</td>
	</tr>
	<tr>
		<td>バナナ</td>
		<td>@this.UrlBanana</td>
	</tr>
	<tr>
		<td>チェリー</td>
		<td>@this.UrlCherry</td>
	</tr>
	<tr>
		<td>ドリアン</td>
		<td>@this.UrlDurian</td>
	</tr>
	<tr>
		<td>エッグ</td>
		<td>@this.UrlEgg</td>
	</tr>
	<tr>
		<td>フィグ</td>
		<td>@this.UrlFig</td>
	</tr>
	<tr>
		<td>グレープ</td>
		<td>@this.UrlGrape</td>
	</tr>
</table>

@code
{


	// ========================================
	// パラメーター
	// ========================================


	/// <summary>
	///		<pre>
	///	アップル
	///	
	///		- ［ヌル／空文字列／パース失敗］時： "True"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Apple")]
	public string? UrlApple { get; set; }

	/// <summary>
	///		<pre>
	///	バナナ
	///
	///		- ［ヌル／空文字列／パース失敗］時： "False"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Banana")]
	public string? UrlBanana { get; set; }

	/// <summary>
	/// チェリー
	/// 
	///		- ［ヌル／空文字列／パース失敗］時： "False"
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Cherry")]
	public string? UrlCherry { get; set; }

	/// <summary>
	/// ドリアン
	///
	///		- ヌル時： null
	///		- 空文字列時： string.Empty
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Durian")]
	public string? UrlDurian { get; set; }

	/// <summary>
	/// エッグ
	///
	///		- ヌル時： "7""
	///		- 空文字列時： string.Empty
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Egg")]
	public string UrlEgg { get; set; } = "7";

	/// <summary>
	/// フィグ
	///
	///		- ヌル時： "Ichijiku"
	///		- 空文字列時： string.Empty
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Fig")]
	public string? UrlFig { get; set; } = "Ichijiku";

	/// <summary>
	/// グレープ
	///
	///		- ヌル時： null
	///		- 空文字列時： string.Empty
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Grape")]
	public string? UrlGrape { get; set; }


	// ========================================
	// スケジュール
	// ========================================


	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		System.Console.WriteLine("[Home.razor > ＯnInitialized]　🔥　初期化");
	}


	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		System.Console.WriteLine("[Home.razor > ＯnParametersSetAsync]　🔥　初期化");

		if (string.IsNullOrWhiteSpace(this.UrlApple) || !bool.TryParse(this.UrlApple, out var urlApple))
		{
			this.UrlApple = true.ToString();
		}
		else
		{
			this.UrlApple = urlApple.ToString();
		}

		if (string.IsNullOrWhiteSpace(this.UrlBanana) || !bool.TryParse(this.UrlBanana, out var urlBanana))
		{
			this.UrlBanana = false.ToString();
		}
		else
		{
			this.UrlBanana = urlBanana.ToString();
		}

		if (string.IsNullOrWhiteSpace(this.UrlCherry) || !bool.TryParse(this.UrlCherry, out var urlCherry))
		{
			this.UrlCherry = null;
		}
		else
		{
			this.UrlCherry = urlCherry.ToString();
		}
	}
}
