@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<table>
	<th>
		<td>名前</td>
		<td>値</td>
	</th>
	<tr>
		<td>アップル</td>
		<td>@this.UrlApple</td>
	</tr>
	<tr>
		<td>バナナ</td>
		<td>@this.UrlBanana</td>
	</tr>
	<tr>
		<td>チェリー</td>
		<td>@this.UrlCherry</td>
	</tr>
	<tr>
		<td>ドリアン</td>
		<td>@this.UrlDurian</td>
	</tr>
	<tr>
		<td>エッグ</td>
		<td>@this.UrlEgg</td>
	</tr>
	<tr>
		<td>フィグ</td>
		<td>@this.UrlFig</td>
	</tr>
	<tr>
		<td>グレープ</td>
		<td>@this.UrlGrape</td>
	</tr>
</table>

@code
{


	// ========================================
	// パラメーター
	// ========================================
	//
	//		- クエリーパラメーター（URLの引数）は string? 型で受け取ってください。
	//		- 値の初期化は `OnParametersSet()` または `OnParametersSetAsync()` 関数で行ってください。

	/// <summary>
	///		<pre>
	///	アップル
	///	
	///		- ［期待］bool 型
	///		- ［ヌル／空文字列／パース失敗］時： "True"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Apple")]
	public string? UrlApple { get; set; }

	/// <summary>
	///		<pre>
	///	バナナ
	///
	///		- ［期待］bool 型
	///		- ［ヌル／空文字列／パース失敗］時： "False"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Banana")]
	public string? UrlBanana { get; set; }

	/// <summary>
	/// チェリー
	/// 
	///		- ［期待］bool 型
	///		- ［ヌル／空文字列／パース失敗］時： "False"
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Cherry")]
	public string? UrlCherry { get; set; }

	/// <summary>
	/// ドリアン
	///
	///		- ［期待］int 型
	///		- ［ヌル／空文字列／パース失敗］時： ヌル
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Durian")]
	public string? UrlDurian { get; set; }

	/// <summary>
	/// エッグ
	///
	///		- ［期待］int 型
	///		- ［ヌル／空文字列／パース失敗］時： "7"
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Egg")]
	public string UrlEgg { get; set; }

	/// <summary>
	/// フィグ
	///
	///		- ［期待］string 型
	///		- ［ヌル／空文字列］時： "Ichijiku"
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Fig")]
	public string? UrlFig { get; set; }

	/// <summary>
	/// グレープ
	///
	///		- ［期待］string 型
	///		- ［ヌル／空文字列］時： ""
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Grape")]
	public string? UrlGrape { get; set; }


	// ========================================
	// スケジュール
	// ========================================


	/// <summary>
	///		<pre>
	///	対応する URL にアクセスされ、このページのインスタンスが生成されたときに呼び出されます。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		System.Console.WriteLine("[Home.razor > ＯnInitialized]　🔥　ページ・インスタンス生成");
	}


	/// <summary>
	///		<pre>
	/// パラメーターセット時
	/// 
	///		- レンダー実行時に呼び出されます。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		System.Console.WriteLine("[Home.razor > ＯnParametersSetAsync]　🔥　初期化");

		if (string.IsNullOrWhiteSpace(this.UrlApple) || !bool.TryParse(this.UrlApple, out var urlApple))
		{
			this.UrlApple = true.ToString();
		}
		else
		{
			this.UrlApple = urlApple.ToString();
		}

		if (string.IsNullOrWhiteSpace(this.UrlBanana) || !bool.TryParse(this.UrlBanana, out var urlBanana))
		{
			this.UrlBanana = false.ToString();
		}
		else
		{
			this.UrlBanana = urlBanana.ToString();
		}

		if (string.IsNullOrWhiteSpace(this.UrlCherry) || !bool.TryParse(this.UrlCherry, out var urlCherry))
		{
			this.UrlCherry = null;
		}
		else
		{
			this.UrlCherry = urlCherry.ToString();
		}

		if (string.IsNullOrWhiteSpace(this.UrlDurian) || !int.TryParse(this.UrlDurian, out var urlDurian))
		{
			this.UrlDurian = null;
		}
		else
		{
			this.UrlDurian = urlDurian.ToString();
		}

		if (string.IsNullOrWhiteSpace(this.UrlEgg) || !int.TryParse(this.UrlEgg, out var urlEgg))
		{
			this.UrlEgg = 7.ToString();
		}
		else
		{
			this.UrlEgg = urlEgg.ToString();
		}

		if (string.IsNullOrWhiteSpace(this.UrlFig))
		{
			this.UrlFig = "Ichijiku";
		}

		if (string.IsNullOrWhiteSpace(this.UrlGrape))
		{
			this.UrlGrape = string.Empty;
		}
	}
}
