@page "/input-text-example"
@using BlazorApp1.Components.Shared
@rendermode InteractiveServer	// ボタンの @onclick に必要
@inject NavigationManager NavigationMgr

<PageTitle>InputTextの例</PageTitle>

<h1>InputTextの例</h1>

クエリーパラメーター：<br/>
<table>
	<th>
		<td>名前</td>
		<td>値</td>
	</th>
	<tr>
		<td>アップル</td>
		<td>@this.UrlApple</td>
	</tr>
	<tr>
		<td>バナナ</td>
		<td>@this.UrlBanana</td>
	</tr>
	<tr>
		<td>チェリー</td>
		<td>@this.UrlCherry</td>
	</tr>
</table>

ＧＵＩサンプル：
<table>
	<th>
		<td>名前</td>
		<td>値</td>
	</th>
	<tr>
		<td>アップル</td>
		<td><InputText @bind-Value="this.GuiApple" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
	<tr>
		<td>バナナ</td>
		<td><InputText @bind-Value="this.GuiBanana" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
	<tr>
		<td>チェリー</td>
		<td><InputText @bind-Value="this.GuiCherry" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
</table>

<ul>
	<li><a href="https://localhost:7249/">https://localhost:7249/</a></li>
	<li><a href="https://localhost:7249/?apple=&banana=true&cherry=false">https://localhost:7249/?apple=&banana=true&cherry=false</a></li>
	<li><a href="https://localhost:7249/?apple=false&banana=true&cherry=false">https://localhost:7249/?apple=false&banana=true&cherry=false</a></li>
</ul>

<ExBananaComponent Title="GUI一時値"
				   Apple="@this.GuiApple"
				   Banana="@this.GuiBanana"
				   Cherry="@this.GuiCherry" />

<br />
<button @onclick="this.SearchDammy">検索（ダミー）</button>
<br />

<ExBananaComponent Title="GUI確定値"
				   Apple="@this.DisplayedApple"
				   Banana="@this.DisplayedBanana"
				   Cherry="@this.DisplayedCherry" />

@code
{


	// ========================================
	// パラメーター
	// ========================================
	//
	//		- クエリーパラメーター（URLの引数）は string? 型で受け取ってください。
	//		- 値の初期化は `OnParametersSet()` または `OnParametersSetAsync()` 関数で行ってください。


	// アップル


	/// <summary>
	///		<pre>
	///	アップル
	///	
	///		- ［期待］bool 型
	///		- ［ヌル／空文字列／パース失敗］時： "True"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Apple")]
	public string? UrlApple { get; set; }
	private string GuiApple { get; set; } = string.Empty;
	private string DisplayedApple { get; set; } = string.Empty;


	// バナナ


	/// <summary>
	///		<pre>
	///	バナナ
	///
	///		- ［期待］bool 型
	///		- ［ヌル／空文字列／パース失敗］時： "False"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Banana")]
	public string? UrlBanana { get; set; }
	private string GuiBanana { get; set; } = string.Empty;
	private string DisplayedBanana { get; set; } = string.Empty;


	// チェリー


	/// <summary>
	/// チェリー
	/// 
	///		- ［期待］bool 型
	///		- ［ヌル／空文字列／パース失敗］時： "False"
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Cherry")]
	public string? UrlCherry { get; set; }
	private string GuiCherry { get; set; } = string.Empty;
	private string DisplayedCherry { get; set; } = string.Empty;


	// ========================================
	// ライフサイクルメソッド
	// ========================================


	/// <summary>
	///		<pre>
	/// パラメーターセット時
	/// 
	///		- レンダー実行時に呼び出されます。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　🔥　パラメーターズセット");


		// アップル


		if (string.IsNullOrWhiteSpace(this.UrlApple) || !bool.TryParse(this.UrlApple, out var urlApple))
		{
			this.UrlApple = true.ToString();
		}
		else
		{
			this.UrlApple = urlApple.ToString();
		}
		this.GuiApple = this.UrlApple;


		// バナナ


		if (string.IsNullOrWhiteSpace(this.UrlBanana) || !bool.TryParse(this.UrlBanana, out var urlBanana))
		{
			this.UrlBanana = false.ToString();
		}
		else
		{
			this.UrlBanana = urlBanana.ToString();
		}
		this.GuiBanana = this.UrlBanana;


		// チェリー


		if (string.IsNullOrWhiteSpace(this.UrlCherry) || !bool.TryParse(this.UrlCherry, out var urlCherry))
		{
			this.UrlCherry = null;
		}
		else
		{
			this.UrlCherry = urlCherry.ToString();
		}
		this.GuiCherry = this.UrlCherry;
	}


	// ========================================
	// イベントハンドラ
	// ========================================


	/// <summary>
	/// ［検索］ダミーボタン
	/// </summary>
	private void SearchDammy()
	{
		System.Console.WriteLine("[{DateTime.Now}][Home.razor > ＳearchDammy]　🔥　検索ダミーボタン");

		this.DisplayedApple = this.GuiApple;
		this.DisplayedBanana = this.GuiBanana;
		this.DisplayedCherry = this.GuiCherry;
	}
}
