@page "/property-changed-trigger-example"
@using BlazorApp1.Components.Shared
@implements IAsyncDisposable	// これでDisposeを有効化
@rendermode InteractiveServer	// ボタンの @onclick に必要
@inject NavigationManager NavigationMgr

<PageTitle>プロパティ変更トリガー</PageTitle>

<h1>プロパティ変更トリガー</h1>

クエリーパラメーター：<br/>
<table>
	<th>
		<td>名前</td>
		<td>値</td>
	</th>
	<tr>
		<td>アップル</td>
		<td>@this.UrlApple</td>
	</tr>
	<tr>
		<td>バナナ</td>
		<td>@this.UrlBanana</td>
	</tr>
	<tr>
		<td>チェリー</td>
		<td>@this.UrlCherry</td>
	</tr>
</table>

ＧＵＩサンプル：
<table>
	<th>
		<td>名前</td>
		<td>値</td>
	</th>
	<tr>
		<td>アップル</td>
		<td><InputText @bind-Value="this.GuiApple" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
	<tr>
		<td>バナナ</td>
		<td><InputText @bind-Value="this.GuiBanana" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
	<tr>
		<td>チェリー</td>
		<td><InputText @bind-Value="this.GuiCherry" placeholder="ここに打て（＾～＾）" /></td>
	</tr>
</table>

<ul>
	<li><a href="https://localhost:7249/property-changed-trigger-example">https://localhost:7249/property-changed-trigger-example</a></li>
	<li><a href="https://localhost:7249/property-changed-trigger-example?apple=&banana=&cherry=">https://localhost:7249/property-changed-trigger-example?apple=&banana=&cherry=</a></li>
	<li><a href="https://localhost:7249/property-changed-trigger-example?apple=APPLE&banana=BANANA&cherry=CHERRY">https://localhost:7249/property-changed-trigger-example?apple=APPLE&banana=BANANA&cherry=CHERRY</a></li>
</ul>

<button @onclick="this.NavigateToSamePage">自分のページへ飛ぶ</button><br/>

<p>レンダー回数： @this.RenderingCount</p>
<p>重い処理の回数： @this.HeavylyProcessCount</p>

<ExBananaComponent Title="GUI一時値"
				   Apple="@this.GuiApple"
				   Banana="@this.GuiBanana"
				   Cherry="@this.GuiCherry" />

<button @onclick="this.SearchDammy">検索（ダミー）</button>
<br />

<ExBananaComponent Title="GUI確定値"
				   Apple="@this.DisplayedApple"
				   Banana="@this.DisplayedBanana"
				   Cherry="@this.DisplayedCherry" />

@code
{


	// ========================================
	// パラメーター
	// ========================================
	//
	//		- クエリーパラメーター（URLの引数）は string? 型で受け取ってください。
	//		- 値の初期化は `OnAfterRenderAsync()` 関数で行ってください。 `OnParametersSetAsync()` は取り扱いが難しいです。
	//		- データベースからの読込など重い処理は、`OnAfterRenderAsync()` 関数では行わず、バックグラウンド・スレッドで行ってください。


	// アップル


	/// <summary>
	///		<pre>
	///	アップル
	///	
	///		- ［期待］string 型
	///		- ［ヌル／空文字列／パース失敗］時： "Ringo"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Apple")]
	public string? UrlApple { get; set; }					// クエリーパラメーターをそのまま格納してください。
	private string? _lastUrlApple;							// 変更前のクエリーパラメーターをそのまま格納してください。
	private string GuiApple { get; set; } = "Ringo";        // コントロールが保持する値です。例えば、検索フォームなどで、確定ボタン等を押すまで仮の値である場合がこれです。
	private string DisplayedApple { get; set; } = "Ringo";  // 確定値です。画面の表示は、この値を元にします。
	private string _lastDisplayedApple = "Ringo";			// 変更前の確定値を格納してください。


	// バナナ


	/// <summary>
	///		<pre>
	///	バナナ
	///
	///		- ［期待］string 型
	///		- ［ヌル／空文字列／パース失敗］時： "Basho"
	///		</pre>
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Banana")]
	public string? UrlBanana { get; set; }
	private string? _lastUrlBanana;
	private string GuiBanana { get; set; } = "Basho";
	private string DisplayedBanana { get; set; } = "Basho";
	private string _lastDisplayedBanana = "Basho";


	// チェリー


	/// <summary>
	/// チェリー
	/// 
	///		- ［期待］string 型、ヌル許容
	///		- ［ヌル／空文字列／パース失敗］時： null
	/// </summary>
	[Parameter]
	[SupplyParameterFromQuery(Name = "Cherry")]
	public string? UrlCherry { get; set; }
	private string? _lastUrlCherry;
	private string? GuiCherry { get; set; }
	private string? DisplayedCherry { get; set; }
	private string? _lastDisplayedCherry;


	// ========================================
	// プロパティ
	// ========================================


	/// <summary>
	///		<pre>
	///	レンダー回数
	///		</pre>
	/// </summary>
	private int RenderingCount = 0;

	/// <summary>
	///		<pre>
	///	重い処理の回数
	///		</pre>
	/// </summary>
	private int HeavylyProcessCount = 0;


	// ========================================
	// ライフサイクルメソッド
	// ========================================


	public async ValueTask DisposeAsync()
	{
		System.Console.WriteLine($"[{DateTime.Now}]　■■■■■　破棄: DisposeAsync 呼ばれたぜ！");
	}


	/// <summary>
	///		<pre>
	///	対応する URL にアクセスされ、このページのインスタンスが生成されたときに呼び出されます。
	///	
	///		- 同じページに再アクセスしたとき、このメソッドは呼び出されるが、そのとき、このページのインスタンスのプロパティは初期値に戻っている。しかし、レンダーすると、前の値が残っている。仕組みがさっぱり分からない。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnInitializedAsync()
	{
		await base.OnInitializedAsync();
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnInitialized]　■■■■■　ページ・インスタンス生成");
	}


	/// <summary>
	///		<pre>
	/// パラメーターセット時
	/// 
	///		- レンダー実行時に呼び出されます。
	///		- ［クエリーパラメーター］または［ＸＭＬタグ・パラメーター］が更新されているかもしれません。
	///		</pre>
	/// </summary>
	/// <returns></returns>
	protected override async Task OnParametersSetAsync()
	{
		await base.OnParametersSetAsync();

		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　◆１１◆　パラメーターズセット");

		// ここで何か処理をすると、ログに［サーバーサイド・レンダリング］と［クライアントサイド・レンダリング］の２つが被って出力されて、ログが見にくくなることに注意してください。


		// パラメーター変更検知


		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　前回の値［URL>アップル］：{this._lastUrlApple}");
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　前回の値［URL>バナナ］：{this._lastUrlBanana}");
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　前回の値［URL>チェリー］：{this._lastUrlCherry}");


		// アップル


		if (string.IsNullOrWhiteSpace(this.UrlApple))
		{
			this.UrlApple = "Ringo";
		}

		if (this._lastUrlApple != this.UrlApple)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　［URL>アップル］が変更されました。　（{this._lastUrlApple}→{this.UrlApple}）");
			this._lastUrlApple = this.UrlApple;
			// ［クエリーパラメーター］または［ＸＭＬタグ・パラメーター］の変更は［GUI］［ディスプレイ］へ反映
			this.DisplayedApple = this.GuiApple = this.UrlApple;
		}


		// バナナ


		if (string.IsNullOrWhiteSpace(this.UrlBanana))
		{
			this.UrlBanana = "Basho";
		}

		if (this._lastUrlBanana != this.UrlBanana)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　［URL>バナナ］が変更されました。　（{this._lastUrlBanana}→{this.UrlBanana}）");
			this._lastUrlBanana = this.UrlBanana;
			// ［クエリーパラメーター］または［ＸＭＬタグ・パラメーター］の変更は［GUI］［ディスプレイ］へ反映
			this.DisplayedBanana = this.GuiBanana = this.UrlBanana;
		}


		// チェリー


		if (string.IsNullOrWhiteSpace(this.UrlCherry))
		{
			this.UrlCherry = null;
		}

		if (this._lastUrlCherry != this.UrlCherry)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnParametersSetAsync]　［URL>チェリー］が変更されました。　（{this._lastUrlCherry}→{this.UrlCherry}）");
			this._lastUrlCherry = this.UrlCherry;
			// ［クエリーパラメーター］または［ＸＭＬタグ・パラメーター］の変更は［GUI］［ディスプレイ］へ反映
			this.DisplayedCherry = this.GuiCherry = this.UrlCherry;
		}
	}


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		await base.OnAfterRenderAsync(firstRender);

		this.RenderingCount++;
		System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnAfterRenderAsync]　◆２２◆　描画後　firstRender = {firstRender}, RenderingCount = {this.RenderingCount}");


		// ［パラメーター変更検知］から［バックグラウンド・スレッド処理］まで


		// アップル


		if (this._lastDisplayedApple != this.DisplayedApple)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnAfterRenderAsync]　［Display>アップル］が変更されました。　（{this._lastDisplayedApple}→{this.DisplayedApple}）");
			this._lastDisplayedApple = this.DisplayedApple;

			// FIXME: `OnAfterRenderAsync()` の中で重い処理をしてはいけません。バックグラウンド・スレッドに投げてください。
			_ = Task.Run(async () =>  // fire-and-forget（awaitせず次へ進みます）
			{
				await Task.Delay(3 * 1000); // 何か重い処理
				this.HeavylyProcessCount++;

				// 終わったら
				await this.InvokeAsync(this.StateHasChanged);
			});
		}


		// バナナ


		if (this._lastDisplayedBanana != this.DisplayedBanana)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnAfterRenderAsync]　［Display>バナナ］が変更されました。　（{this._lastDisplayedBanana}→{this.DisplayedBanana}）");
			this._lastDisplayedBanana = this.DisplayedBanana;

			// FIXME: `OnAfterRenderAsync()` の中で重い処理をしてはいけません。バックグラウンド・スレッドに投げてください。
			_ = Task.Run(async () =>  // fire-and-forget（awaitせず次へ進みます）
			{
				await Task.Delay(3 * 1000); // 何か重い処理
				this.HeavylyProcessCount++;

				// 終わったら
				await this.InvokeAsync(this.StateHasChanged);
			});
		}


		// チェリー


		if (this._lastDisplayedCherry != this.DisplayedCherry)
		{
			System.Console.WriteLine($"[{DateTime.Now}][Home.razor > ＯnAfterRenderAsync]　［Display>チェリー］が変更されました。　（{this._lastDisplayedCherry}→{this.DisplayedCherry}）");
			this._lastDisplayedCherry = this.DisplayedCherry;

			// FIXME: `OnAfterRenderAsync()` の中で重い処理をしてはいけません。バックグラウンド・スレッドに投げてください。
			_ = Task.Run(async () =>  // fire-and-forget（awaitせず次へ進みます）
			{
				await Task.Delay(3 * 1000); // 何か重い処理
				this.HeavylyProcessCount++;

				// 終わったら
				await this.InvokeAsync(this.StateHasChanged);
			});
		}


		// おわりに


		if (firstRender)
		{
			// ここで何か更新。
			await this.InvokeAsync(this.StateHasChanged);   // `OnAfterRenderAsync()` 内で何か更新したら、もう１回レンダーが必須。
			return;
		}
	}


	// ========================================
	// イベントハンドラ
	// ========================================


	/// <summary>
	/// ［検索］ダミーボタン
	/// </summary>
	private void SearchDammy()
	{
		System.Console.WriteLine("[{DateTime.Now}][Home.razor > ＳearchDammy]　🔥　検索ダミーボタン");

		this.DisplayedApple = this.GuiApple;
		this.DisplayedBanana = this.GuiBanana;
		this.DisplayedCherry = this.GuiCherry;
	}


	private void NavigateToSamePage()
	{
		System.Console.WriteLine("[{DateTime.Now}][Home.razor > ＮavigateToSamePage]　🔥　このページにまた飛ぶ");
		this.NavigationMgr.NavigateTo("https://localhost:7249/");
	}
}
